* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.1s ease-in;
}

html {
	height: 100%;
}
html, body {
	min-height: 100%;

}
body {
	font: 400 26px/1.3, “Lucida Sans Unicode”, “Lucida Grande”, Arial, sans-serif;
	/*width: 1000px;*/
	/*margin-left: auto;
	margin-right: auto;*/
	background-color: #3399cc;
	border: 25px solid #fff;
	min-height: 100%;
}

ul {
	list-style: none;

}
.city {
	display: inline-block;

}

.temperature:after {
	content: "°С";
}
